<footer class="footer">
  <div class="container">
    <div class="footer-description-wrap">
      <div class="footer-slogan-box">
        <a class="footer-logo-link" href="./index.html">
          <svg class="footer-logo-icon" width="168" height="16">
            <use href="/img/svg/icons.svg#icon-logo"></use>
          </svg>
        </a>
        <p class="footer-text">
          Whether you're looking for a healthy snack or a thoughtful gift, our
          fruit baskets are the perfect choice.
        </p>
      </div>
      <div class="footer-naw-wrap">
        <ul class="footer-list">
          <li class="footer-item">
            <a class="footer-anchor" href="#how-it-works">how it works</a>
          </li>
          <li class="footer-item">
            <a class="footer-anchor" href="#veg">vegetables</a>
          </li>
          <li class="footer-item">
            <a class="footer-anchor" href="#reviews">reviews</a>
          </li>
        </ul>
        <address class="footer-address">
          <a class="footer-address-element" href="tel:+380684439426"
            >+380 (68) 443-84-26</a
          >
          <a
            class="footer-address-element"
            href="https://maps.app.goo.gl/cW2XdxWa7rBaJeZr8"
            target="_blank"
          >
            1678 S. Pioneer Road Salt<br />Lake City UT 84104
          </a>
        </address>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="footer-privacy-box">
        <a class="footer-bottom-text footer-privacy-link" href=""
          >Privacy Policy</a
        ><span class="footer-bottom-text bottom-slash">/</span
        ><a class="footer-bottom-text footer-privacy-link" href=""
          >Cookie settings</a
        >
      </div>
      <p class="footer-bottom-text bottom-privaty">&#169;Green Harvest 2024</p>
    </div>
  </div>
</footer>
