<header class="header">
  <div class="container header-container">
  <nav class="nav">
    <ul class="nav-list">
      <li class="nav-item">
      </li>



      <li class="icon">
        <a href="" class="link-icon">
          <svg class="icon" width="168" height="16">
            <use href="/img/icons.svg#icon-logo"></use>
          </svg>
        </a>
      </li>
      <li class="social-icon">
        <a href="" class="link-icon">
          <svg class="icon" width="16" height="16">
            <use href="./images/icons.svg#n-x-32"></use>
          </svg>
        </a>
      </li>




      <li class="nav-item">
      </li>
    </ul>
  </nav>
</div>
</header>
