<header class="header">
  <div class="container">
    <div class="header-icon">
      <a class="header-icon-link" href="/index.html">
        <svg class="logo-icon" width="168" height="16">
          <use href="./img/svg/icons.svg#icon-logo"></use>
        </svg>
      </a>
      <button class="header-menu-btn js-open-menu" type="button">
        <svg class="icon" width="26" height="16">
          <use href="./img/svg/icons.svg#icon-burger"></use>
        </svg>
      </button>
      <div class="wrap-nav-button">
        <nav>
          <ul class="page-link">
            <li class="page-link-list li-works">
              <a href="#how-it-works" class="link accent"> How It Works </a>
            </li>
            <li class="page-link-list li-veg">
              <a href="#veg" class="link accent"> Vegetables </a>
            </li>
            <li class="page-link-list li-reviws">
              <a href="#reviews" class="link accent"> Reviews </a>
            </li>
          </ul>
        </nav>
        <button class="main-btn" type="button">SHOP NOW</button>
      </div>
    </div>
  </div>
</header>
