<header class="header">
  <div class="container header-container">

        <div class="header-icon">
          <svg class="logo-icon" width="168" height="16">
            <use href="/img/icons.svg#icon-logo"></use>
          </svg>
      

          <svg class="icon" width="26" height="16">
            <use href="/img/icons.svg#icon-burger-32"></use>
          </svg>

          <div class="wrap-nav-button">

            <nav>
              <ul class="page-link">
                <li class="page-link-list"> 
                   <a href="/How It Works" class="link accent"> How It Works  </a>
                 </li>
               
                <li class="page-link-list"> 
                  <a href="/How It Works" class="link accent"> Vegetables </a>
                    </li>

                <li class="page-link-list">  
                  <a href="/Reviews" class="link accent"> Reviews </a> 
                   </li>
              </ul>
            </nav>
            <button class="main-btn" type="button">SHOP NOW</button>
          </div>
        </div>
  
</div>
</header>
