<section class="how-it-works" id="how-it-works">
  <div class="conteiner cont-work">
    <div class="works-content-img">
      <h2 class="visually-hidden">How it works</h2>
      <picture>
        <source
          srcset="
            /img/how-it-works/how-it-works-desk@2x.jpg 2x,
            /img/how-it-works/how-it-works-desk.jpg
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            /img/how-it-works/how-it-works-tab@2x.jpg 2x,
            /img/how-it-works/how-it-works-tab.jpg
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            /img/how-it-works/how-it-works-mobile@2x.jpg 2x,
            /img/how-it-works/how-it-works-mobile.jpg
          "
          media="(min-width: 320px)"
        />
        <img
          src="/img/how-it-works/how-it-works-tab.jpg"
          alt="how-it-works-desk"
          width="640"
          height="640"
          class="images-works"
        />
      </picture>
    </div>
    <div class="works-content-wrap">
      <div class="works-content-text">
        <h3 class="works-title">
          To order your <span class="text-part">vegetable</span> basket, simply
          follow these
          <span class="text-part">easy steps</span>
        </h3>
        <p class="works-title-text">
          Our baskets are assembled with care and delivered straight to your
          doorstep, so you can enjoy the taste of fresh fruit without ever
          leaving your home.
        </p>
        <ol class="works-list">
          <li class="works-item">
            <p class="works-item-text">
              Just choose <span class="span-text-part">the vegetable</span> you
              want to order by clicking on the checkboxes
              <span class="span-text-part">next to it</span>.
            </p>
          </li>
          <li class="works-item">
            <p class="works-item-text">
              Click on <span class="span-text-part">the basket</span> and fill
              out the form.
            </p>
          </li>
          <li class="works-item">
            <p class="works-item-text">
              Sit back and relax! Your
              <span class="span-text-part">fresh vegetables</span> basket will
              be delivered.
            </p>
          </li>
        </ol>
      </div>
    </div>
  </div>
</section>
