<div class="menu">
  <div class="menu-mob-tab">
    <div>
      <button type="button" class="close-menu-btn">
        <svg class="close-icon" width="20" height="20">
          <use href="/img/svg/icons.svg#icon-close"></use>
        </svg>
      </button>
      <nav class="menu-nav">
        <ul class="menu-list">
          <li class="menu-item menu-item-top">
            <a class="menu-link top-mob-link" href="#works">How It Works</a>
          </li>
          <li class="menu-item menu-item-second">
            <a class="menu-link" href="#veg">Vegetables</a>
          </li>
          <li class="menu-item menu-item-third">
            <a class="menu-link" href="#reviews">Reviews</a>
          </li>
        </ul>
      </nav>
    </div>

    <button type="button" class="shop-btn">Shop now</button>
  </div>
</div>
