<section class="veg" id="veg">
  <div class="container">
    <h2 class="veg-title">
      organic <span class="veg-title-transparent">vegetables</span>
    </h2>
    <p class="veg-text">
      Our organic vegetables are hand-picked from local farms and delivered
      straight to your doorstep, ensuring that you get the freshest and most
      nutritious produce possible.
    </p>

    <ul class="veg-list">
      <li class="veg-item">
        <h3 class="veg-title-card">eggplant</h3>
        <p class="veg-text-card">60 UAH / kg</p>
        <img
          alt="eggplant"
          srcset="
            /img/vegetables/vegetables1@2x.png 2x,
            /img/vegetables/vegetables1.png    1x
          "
          src="/img/vegetables/vegetables1.png"
          width="282"
          height="243"
        />
      </li>
      <li class="veg-item">
        <h3 class="veg-title-card">leek</h3>
        <p class="veg-text-card">50 UAH / kg</p>
        <img
          alt="leek"
          srcset="
            /img/vegetables/vegetables2@2x.png 2x,
            /img/vegetables/vegetables2.png    1x
          "
          src="/img/vegetables/vegetables2.png"
          width="282"
          height="243"
        />
      </li>
      <li class="veg-item">
        <h3 class="veg-title-card">mushrooms</h3>
        <p class="veg-text-card">40 UAH / kg</p>
        <img
          alt="mushrooms"
          srcset="
            /img/vegetables/vegetables3@2x.png 2x,
            /img/vegetables/vegetables3.png    1x
          "
          src="/img/vegetables/vegetables3.png"
          width="282"
          height="243"
        />
      </li>
      <li class="veg-item">
        <h3 class="veg-title-card">corn</h3>
        <p class="veg-text-card">60 UAH / kg</p>
        <img
          alt="corn"
          srcset="
            /img/vegetables/vegetables4@2x.png 2x,
            /img/vegetables/vegetables4.png    1x
          "
          src="/img/vegetables/vegetables4.png"
          width="282"
          height="243"
        />
      </li>
      <li class="veg-item">
        <h3 class="veg-title-card">sweet potatoes</h3>
        <p class="veg-text-card">50 UAH / kg</p>
        <img
          alt="sweet potatoes"
          srcset="
            /img/vegetables/vegetables5@2x.png 2x,
            /img/vegetables/vegetables5.png    1x
          "
          src="/img/vegetables/vegetables5.png"
          width="282"
          height="243"
        />
      </li>
      <li class="veg-item">
        <h3 class="veg-title-card">carrot</h3>
        <p class="veg-text-card">40 UAH / kg</p>
        <img
          alt="carrot"
          srcset="
            /img/vegetables/vegetables6@2x.png 2x,
            /img/vegetables/vegetables6.png    1x
          "
          src="/img/vegetables/vegetables6.png"
          width="282"
          height="243"
        />
      </li>
    </ul>
  </div>
</section>
