<section class="veg">
    <div class="container">
    <h2 class="veg-title">organic <span class="veg-title-transparent">vegetables</span></h2>
    <p class="veg-text">
        Our organic vegetables are hand-picked from local farms and delivered straight to your doorstep, ensuring that you get the freshest and most nutritious produce possible.
    </p>

    <ul class="veg-list">
        <li class="veg-item">
            <div class="wrap-veg">
                <div class="front">
                    <h3 class="veg-title-card">eggplant</h3>
                    <p class="veg-text-card">60 UAH / kg</p>           
                    <img alt="eggplant" srcset="/img/vegetables/vegetables1@2x.jpg 2x, /img/vegetables/vegetables1.jpg 1x" src="/img/vegetables/vegetables1.jpg" width="282" height="243">
                </div>
                <div class="back">
                    <h3 class="veg-title-card">eggplant</h3>
                    <p class="veg-text-card">60 UAH / kg</p>
                    <p class="veg-text-backface">Eggplant is one of the most useful seasonal products in August, as well as an excellent ingredient for culinary masterpieces.</p>
                </div>
            </div>
        </li>
        <li class="veg-item">
            <div class="wrap-veg">
                <div class="front">
                    <h3 class="veg-title-card">leek</h3>
                    <p class="veg-text-card">50 UAH / kg</p>
                    <img alt="leek" srcset="/img/vegetables/vegetables2@2x.jpg 2x, /img/vegetables/vegetables2.jpg 1x" src="/img/vegetables/vegetables2.jpg" width="282" height="243">
                </div>
                <div class="back">
                    <h3 class="veg-title-card">leek</h3>
                    <p class="veg-text-card">50 UAH / kg</p>
                    <p class="veg-text-backface">Leeks, like most vegetables, contain many useful substances: B vitamins, vitamin C, a large amount of potassium, as well as phosphorus, calcium, magnesium, sodium.</p>
                </div>
            </div>   
            </li>
        <li class="veg-item">
            <div class="wrap-veg">
                <div class="front">
                    <h3 class="veg-title-card">mushrooms</h3>
                    <p class="veg-text-card">40 UAH / kg</p>
                    <img alt="mushrooms" srcset="/img/vegetables/vegetables3@2x.jpg 2x, /img/vegetables/vegetables3.jpg 1x" src="/img/vegetables/vegetables3.jpg" width="282" height="243">
                </div>
                <div class="back">
                    <h3 class="veg-title-card">mushrooms</h3>
                    <p class="veg-text-card">40 UAH / kg</p>
                    <p class="veg-text-backface">These mushrooms are low in fat and calories, making them an attractive choice for dieters.</p>
                </div>
            </div>
        </li>
        <li class="veg-item">
            <div class="wrap-veg">
                <div class="front">
                    <h3 class="veg-title-card">corn</h3>
                    <p class="veg-text-card">60 UAH / kg</p>
                    <img alt="corn" srcset="/img/vegetables/vegetables4@2x.jpg 2x, /img/vegetables/vegetables4.jpg 1x" src="/img/vegetables/vegetables4.jpg" width="282" height="243">
                </div>
                <div class="back">
                    <h3 class="veg-title-card">corn</h3>
                    <p class="veg-text-card">60 UAH / kg</p>
                    <p class="veg-text-backface">Corn contains a balanced amount of proteins, fats and carbohydrates, which gives the right to call it a component of a healthy diet with full confidence.</p>
                </div>
            </div>
            </li>
        <li class="veg-item">
            <div class="wrap-veg">
                <div class="front">
                    <h3 class="veg-title-card">sweet potatoes</h3>
                    <p class="veg-text-card">50 UAH / kg</p>
                    <img alt="sweet potatoes" srcset="/img/vegetables/vegetables5@2x.jpg 2x, /img/vegetables/vegetables5.jpg 1x" src="/img/vegetables/vegetables5.jpg" width="282" height="243">
                </div>
                <div class="back">
                    <h3 class="veg-title-card">sweet potatoes</h3>
                    <p class="veg-text-card">50 UAH / kg</p>
                    <p class="veg-text-backface">Sweet potatoes have many useful properties, they are a nutritious product. The peculiarity of this root vegetable is that 100 g of vitamin A contains twice as much as the daily norm for an adult.</p>
                </div>
            </div>
        </li>
        <li class="veg-item">
            <div class="wrap-veg">
                <div class="front">
                    <h3 class="veg-title-card">carrot</h3>
                    <p class="veg-text-card">40 UAH / kg</p>
                    <img alt="carrot" srcset="/img/vegetables/vegetables6@2x.jpg 2x, /img/vegetables/vegetables6.jpg 1x" src="/img/vegetables/vegetables6.jpg" width="282" height="243">
                </div>
                <div class="back">
                    <h3 class="veg-title-card">carrot</h3>
                    <p class="veg-text-card">40 UAH / kg</p>
                    <p class="veg-text-backface">Carrots contain vitamins A, C, D, E, K, B6 and B1, organic sodium, biotin, potassium, phosphorus and magnesium.</p>
                </div>
            </div>
        </li>
    </ul>
</div>
</section>