.container { 
min-width: 320px;
padding-left: 20px;
padding-right: 20px;
margin: 0 auto;
}
.discount-section {
        padding-top:80px;
        padding-bottom: 80px;
            background: #fbfbfb;
            
}
.discount-container { 

min-width: 320px;
}

.discount-text {
    font-weight: 600;
        font-size: 48px;
        line-height: 1.04;
        letter-spacing: -0.01em;
        text-transform: uppercase;
}

.discount-first-div {
    border-radius: 12px;
        min-width: 320px;
        background-color: #576f35;
        color: #fbfbfb;
        padding-right: 10px;
}

.discount-second-div {
    color: #141414;
}

.dis-p {
    padding-top: 3px;
    padding-left: 20px;
}

@media screen and (min-width: 375px) {
    .discount-container {
        width: 375px;

    }

    .discount-first-div {
        width: 355px;
    }
}
