.footer {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #7a3145;
}

.footer-slogan-box {
  margin-bottom: 40px;
}

.footer-logo-icon {
  fill: #fbfbfb;
  margin-bottom: 14px;
}

.footer-text {
  font-size: 14px;
  line-height: 1.28;
}

.footer-list {
  margin-bottom: 40px;
}

.footer-item:not(:last-child) {
  margin-bottom: 14px;
}

.footer-anchor {
  font-weight: 600;
  font-size: 28px;
  line-height: 1;
  letter-spacing: -0.01em;
}

.footer-address {
  font-style: normal;
  margin-bottom: 80px;
}

.footer-address-item:not(:last-child) {
  margin-bottom: 14px;
}

.footer-address-element {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.01em;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
}

.footer-bottom-text {
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: -0.01em;
  color: rgba(251, 251, 251, 0.5);
}

.bottom-slash {
  margin-left: 8px;
  margin-right: 8px;
}

.bottom-privaty {
  align-self: flex-end;
}

.footer-privacy-box {
  margin-right: 20px;
}

/* TABLET */

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }

  .footer {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .footer-slogan-box {
    width: 265px;
    margin-bottom: 0;
  }

  .footer-text {
    font-size: 16px;
    line-height: 1.25;
  }

  .footer-description-wrap {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
  }

  .footer-address-element {
    font-size: 18px;
    line-height: 1.11;
  }

  .footer-anchor {
    font-size: 32px;
  }

  .footer-list {
    margin-bottom: 64px;
  }

  .footer-item:not(:last-child) {
    margin-bottom: 25px;
  }

  .footer-address {
    margin-bottom: 0;
  }

  .footer-address-item:not(:last-child) {
    margin-bottom: 25px;
  }

  .footer-bottom-text {
    font-size: 18px;
    line-height: 1.11;
  }
}

/* DESKTOP */

@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
    padding-left: 100px;
    padding-right: 100px;
  }

  .footer {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .footer-description-wrap {
    margin-bottom: 125px;
  }

  .footer-list {
    margin-bottom: 0;
  }

  .footer-naw-wrap {
    display: flex;
    gap: 121px;
  }
}
