.header-icon {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.icon {
  stroke-width: 3px;
  stroke: #fbfbfb;
}
.wrap-nav-button {
  display: flex;
  align-items: center;
  gap: 20px;
}
.page-link {
  display: flex;
}

.header {
  position: absolute;
  left: 0;
  z-index: 100;
  width: 100%;
  padding-top: 20px;
  background: transparent;
}

.header-menu-btn {
  display: block;
  margin-left: auto;
  background: transparent;
}

.logo-icon {
  fill: #fbfbfb;
}

.main-btn {
  background: #7a3145;
  border-radius: 30px;
  padding: 16px;
  width: 157px;
  height: 52px;
  color: #fbfbfb;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.11;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-btn:hover,
.main-btn:focus {
  background-color: #622133;
}

.page-link-list {
  border: 1px solid rgba(251, 251, 251, 0.4);
  border-radius: 14px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-nav-link {
  border-radius: 12px;
  padding: 10px 10px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.02em;
  text-align: center;
  display: block;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-nav-link:hover,
.header-nav-link:focus {
  color: #622133;
  background-color: #cecbcc;
}

.li-works {
  width: 114px;
}
.li-veg {
  width: 101px;
}
.li-reviws {
  width: 81px;
}

.page-link-list:not(:last-child) {
  margin-right: 8px;
}

@media screen and (min-width: 375px) {
  .container {
    width: 375px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }

  .hero {
    padding-top: 32px;
  }
}

@media screen and (max-width: 1279px) {
  .main-btn {
    display: none;
  }
  .page-link {
    display: none;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
    padding-left: 100px;
    padding-right: 100px;
  }

  .header-menu-btn {
    display: none;
  }
}
