.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 999;
  visibility: hidden;
  pointer-events: none;
  /* align-self: center; */
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateX(100%)
}
.menu.is-open {
  transform: translateX(0);
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.menu-mob-tab {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  border: 1px solid #000;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25), 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  background: #7a3145;
  color: #fff;
  padding: 20px 20px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-menu-btn {
  display: block;
  margin-left: auto;
  padding-right: 24px;
  margin-bottom: 188px;
  background-color: transparent;
  border: none;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  /* transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}

.close-icon {
  stroke-width: 3px;
  stroke: #fbfbfb;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-icon:hover {
  background-color: #fbfbfb;
  stroke: #7a3145;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25), 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.close-icon:focus {
  background-color: #fbfbfb;
  stroke: rgba(122, 49, 69, 0.7);
}

.menu-nav {
  margin-bottom: 40px;
}

.menu-list {
  display: flex;
  align-items: center;

  flex-direction: column;
  gap: 8px;
}

.menu-item {
  border: 1px solid rgba(251, 251, 251, 0.4);
  border-radius: 12px;
  padding: 10px 0;
  text-align: center;
  justify-content: center;
  width: 115px;
  height: 42px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-item-top {
}

.menu-item:hover {
  background-color: #fbfbfb;
  color: #7a3145;
}

.menu-item:focus {
  background-color: #fbfbfb;
  color: rgba(122, 49, 69, 0.7);
}

.menu-link {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;

  /* color: #fbfbfb; */
}

.shop-btn {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  border: 1px solid rgba(251, 251, 251, 0.2);
  border-radius: 30px;
  padding: 0 auto;
  width: 155px;
  height: 50px;
  margin: 0 auto;
  background-color: transparent;
  color: #fbfbfb;
  flex-shrink: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.shop-btn:hover {
  color: #7a3145;
  background-color: #fbfbfb;
}

.shop-btn:focus {
  background-color: #fbfbfb;
  color: rgba(122, 49, 69, 0.7);
}

@media screen and (min-width: 768px) {
  .menu {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25), 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background: rgba(20, 20, 20, 0.4);
  }

  .menu-mob-tab {
    right: 0;
    width: 351px;
  }

  .close-icon {
    stroke-width: 4px;
    width: 24px;
    height: 24px;
  }

  .menu-item {
    height: 44px;
    font-size: 16px;
    line-height: 1.25;
  }

  .menu-item-top {
    width: 114px;
  }

  .menu-item-second {
    width: 119px;
  }

  .menu-item-third {
    width: 123px;
  }

  .shop-btn {
    width: 157px;
    height: 52px;
    font-size: 18px;
    line-height: 1.11;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .shop-btn:focus {
    background: #fbfbfb;
    color: #7a3145;
  }
}
