.container {
padding-left: 20px;
padding-right: 20px;
}

.order {
padding-top: 80px;
padding-bottom: 80px;
background-color: #7a3145;
    
}

.ordering-form-submit-btn {
    display: block;
    border-radius: 30px;
        padding: 16px 129px;
        width: 100%;
        height: 50px;
        background: #576f35;
    
       
            font-weight: 600;
            font-size: 14px;
            line-height: 1.29;
            letter-spacing: -0.01em;
            text-transform: uppercase;
            color: #fbfbfb;
        cursor: pointer;
}

.ordering-form-submit-btn:is(:hover, :focus) {
    border-color: brown;
}

.ordering {
    border-radius: 30px;
        padding: 40px 20px;
        width: 100%;
        height: 533px;
        background: #fbfbfb;
}

.ordering-form-input {
    border: 1px solid rgba(20, 20, 20, 0.2);
        border-radius: 30px;
        padding: 14px 0px 14px 16px;
        width: 100%;
        height: 46px;
}

.ordering-form-wrp {
    margin-bottom: 15px;
}

.ordering-form-comment {
    margin-bottom: 20px;
}

.ordering-form-message {
    border: 1px solid rgba(20, 20, 20, 0.2);
        border-radius: 15px;
        padding: 14px 0px 59px 16px;
        width: 100%;
        height: 91px;
}

.ordering-text {
   
        font-weight: 600;
        font-size: 24px;
        line-height: 1.08;
        letter-spacing: -0.01em;
        text-transform: uppercase;
        color: #141414;
        margin-bottom: 40px;
}

.ordering-text-red {
    color: #7a3145;
}

.ordering-text-green {
    color: #576f35;
}

.ordering-form-input::placeholder {
    
        font-size: 14px;
        line-height: 1.29;
        letter-spacing: -0.02em;
        color: #141414;
}

.ordering-form-input:focus {
border-color: brown;
}

.ordering-form-input:not(:placeholder-shown):invalid {
    border-color: red;
}

.ordering-form-input:not(:placeholder-shown):valid {
    border-color: green;
}

.text-valid,
.text-invalid {
    font-size: 14px;
    padding-left: 20px;
    margin-top: 4px;
    display: none;
}

.text-valid {
    color: green;
}

.text-invalid {
    color: red;
}

.ordering-form-input:not(:placeholder-shown):valid~.text-valid {
    display: block;
}

.ordering-form-input:not(:placeholder-shown):invalid~.text-invalid {
    display: block;
}
   

.ordering-form-message::placeholder {

    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    color: #141414;
}

.order-title {

    font-weight: 600;
    font-size: 48px;
    line-height: 1.04;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #fbfbfb;
        margin-bottom: 29px;
}

.order-title-red {
    color: rgba(251, 251, 251, 0.3);
}

.texts {
margin-bottom: 40px;
}

.order-text {

        font-size: 14px;
        line-height: 1.29;
    
}

.form-and-social {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.order-social {
    border-radius: 30px;
        padding: 40px 20px;
        width: 100%;
        background: #576f35;
}

.order-social-img {
    border-radius: 15px;
    box-shadow: rgba(20, 20, 20, 0.3);
    margin-bottom: 20px;
}

.order-social-text {
        font-weight: 600;
        font-size: 14px;
        line-height: 1.29;
        letter-spacing: -0.01em;
        color: rgba(251, 251, 251, 0.5);
    margin-bottom: 14px;
}

.order-social-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;
}

.order-social-list-link {
    
        font-weight: 600;
        font-size: 24px;
        line-height: 1.08;
        letter-spacing: -0.01em;
      
}

.order-social-list-text {
    font-weight: 600;
        font-size: 24px;
        line-height: 1.08;
        letter-spacing: -0.01em;
        padding-left: 8px;
}

@media screen and (min-width: 768px) {
    .container {
        width: 768px;
        padding-left: 32px;
        padding-right: 32px;
       
    }

    .order {
    padding-top: 100px;
    padding-bottom: 100px;

        
    }

.order-title {

    font-size: 64px;
    line-height: 1;
    margin-bottom: 25px;
        
}

.order-text {

    font-size: 16px;
    line-height: 1.25;
   
        
}

.texts {
width: 640px;
margin-bottom: 50px;

}

.form-and-social {
    width: 628px;
    gap: 25px;
    margin: 0 auto;
}
.ordering {
   
    padding: 50px 100px;
   
    height: 534px;
  
}

.ordering-text {
    margin-bottom: 50px;
}



.ordering-form-comment {
    margin-bottom: 25px;
}

.ordering-form-input {
   
    padding: 16px 0px 16px 16px;
    height: 52px;
}
.ordering-form-message {
   
    padding: 16px 0px 59px 16px;
    height: 95px;
}
.ordering-form-submit-btn {

    padding: 16px 191px;
    height: 52px;
   
    font-size: 18px;
    line-height: 1.11;
    
}

.ordering-form-message::placeholder {

    font-size: 16px;
    line-height: 1.25;
    
}

.ordering-form-input::placeholder {

    font-size: 16px;
        line-height: 1.25;
}

.order-social {
    
    padding: 50px;
    height: 490px;
    
}

.order-social-img {
    border-radius: 15px;
    
    margin-bottom: 50px;
}

.order-social-text {
 
    margin-bottom: 15px;
        font-size: 18px;
        line-height: 1.11;
       
}

.order-social-list {
 
    gap: 12px;
}

.order-social-list-link {

    font-size: 32px;
    line-height: 1;

}

.order-social-list-text {

    font-size: 32px;
    line-height: 1;
    padding-left: 12px;
}
}

@media screen and (min-width: 1280px) {
    .container {
        width: 1280px;
        padding-left: 100px;
        padding-right: 100px;
        
    }
                
        .texts {
            width: 751px;
            
        }

                .form-and-social {
                   
                    flex-direction: row;
                   width: 1080px;
                    gap: 24px;
                    
                      
                }

.ordering {
    
    padding: 50px;
    width: 529px;
    height: 534px;

}

.order-social {
    
    width: 527px;
    height: 534px;
padding: 50px;
}
}