.reviews {
}

.reviews-title {
  font-weight: 600;
  font-size: 48px;
  line-height: 1.04167;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #141414;
}
.reviews-card-title-span {
  color: #576f35;
}
.reviews-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  color: #141414;
}
.reviews-list {
}
.reviews-list-card {
  border: 1px solid rgba(122, 49, 69, 0.3);
  border-radius: 24px;
  padding: 20px;
  /* width: 343px;
  height: 258px; */
  background: #fbfbfb;
}
.reviews-card-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.02em;
  text-align: center;
  color: #040306;
}
.reviews-card-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  color: rgba(4, 3, 6, 0.4);
}
